In [749]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Importando .csv

In [750]:
df = pd.read_csv('D:\\IRONHACK\\Eurovisión\\Countries_Editions_Songs.csv')
df.head()

,country,years,songs,artists,places,points,qualification
0,Andorra,2009,La Teva Decisió (Get A Life),Susanne Georgi,Didn't qualify,NaN,#15 in semi-final 1
1,Andorra,2008,Casanova,Gisela,Didn't qualify,NaN,#16 in semi-final 1
2,Andorra,2007,Salvem El Món,Anonymous,Didn't qualify,NaN,#12 in semi-final
3,Andorra,2006,Sense Tu,Jennifer,Didn't qualify,NaN,#23 in semi-final
4,Andorra,2005,La Mirada Interior,Marian van de Wal,Didn't qualify,NaN,#23 in semi-final

Arrumando valores e colunas

In [751]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        1705 non-null   object
 1   years          1705 non-null   int64
 2   songs          1705 non-null   object
 3   artists        1671 non-null   object
 4   places         1664 non-null   object
 5   points         1386 non-null   object
 6   qualification  835 non-null    object
dtypes: int64(1), object(6)
memory usage: 93.4+ KB

In [752]:
df['places'].value_counts().sort_values()

27                  1
26                 10
25                 18
23                 25
24                 26
21                 36
20                 36
–                  37
22                 38
19                 40
17                 49
15                 54
16                 54
18                 55
11                 57
6                  58
14                 60
3                  61
5                  62
12                 62
9                  64
10                 66
8                  67
7                  67
#1                 68
4                  69
13                 70
2                  76
Didn't qualify    278
Name: places, dtype: int64

Fora 'didn't qualify', pois vamos nos centrar apenas nos finalistas

In [753]:
df.drop(df[df['places'] == 'Didn\'t qualify'].index, inplace = True)

In [754]:
df.drop(df[df['places'] == '–'].index, inplace = True)

In [755]:
df.shape

(1390, 7)

In [756]:
df = df[df['years'] < 2020]

In [757]:
df['places'].value_counts().sort_values()

27     1
26     9
25    16
23    23
24    24
21    34
20    34
22    36
19    38
17    47
15    52
16    52
18    53
11    55
6     56
14    58
3     59
5     60
12    60
9     62
10    64
8     65
7     65
#1    66
4     67
13    68
2     74
Name: places, dtype: int64

In [758]:
df.loc[df['places'].str.contains('#1') == True, 'places'] = 1

In [759]:
df = df.drop('qualification', axis=1)

In [760]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1298 entries, 10 to 1704
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  1298 non-null   object
 1   years    1298 non-null   int64
 2   songs    1298 non-null   object
 3   artists  1298 non-null   object
 4   places   1298 non-null   object
 5   points   1298 non-null   object
dtypes: int64(1), object(5)
memory usage: 71.0+ KB

In [761]:
df['places'] = df['places'].astype(int)

In [762]:
df['points'].value_counts().sort_values()

280     1
75      1
259     1
185     1
372     1
       ..
2      23
4      23
8      26
5      32
0      35
Name: points, Length: 243, dtype: int64

In [763]:
df['points'] = df['points'].replace('–', 0)

In [764]:
df['points'] = df['points'].astype(int)

In [765]:
df = df[df.years > 1974]

In [766]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024 entries, 10 to 1704
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  1024 non-null   object
 1   years    1024 non-null   int64
 2   songs    1024 non-null   object
 3   artists  1024 non-null   object
 4   places   1024 non-null   int32
 5   points   1024 non-null   int32
dtypes: int32(2), int64(1), object(3)
memory usage: 48.0+ KB

In [767]:
print(df['country'].unique())

['Australia' 'Azerbaijan' 'Armenia' 'Albania' 'Belarus' 'Austria'
 'Belgium' 'Bulgaria' 'Bosnia & Herzegovina' 'Czech Republic' 'Croatia'
 'Cyprus' 'Denmark' 'Estonia' 'Finland' 'France' 'Georgia' 'Germany'
 'Greece' 'Hungary' 'Iceland' 'Italy' 'Ireland' 'Luxembourg' 'Israel'
 'Malta' 'Lithuania' 'Moldova' 'Latvia' 'Norway' 'Montenegro' 'Romania'
 'Netherlands' 'Russia' 'Poland' 'North Macedonia' 'Portugal' 'San Marino'
 'Slovakia' 'Sweden' 'Slovenia' 'Spain' 'Serbia' 'Yugoslavia'
 'United Kingdom' 'Switzerland' 'Turkey' 'Ukraine']

In [768]:
df.head()

      country  years             songs             artists  places  points
10  Australia   2019      Zero Gravity  Kate Miller-Heidke       9     284
11  Australia   2018       We Got Love      Jessica Mauboy      20      99
12  Australia   2017   Don't Come Easy              Isaiah       9     173
13  Australia   2016  Sound of Silence             Dami Im       2     511
14  Australia   2015     Tonight Again       Guy Sebastian       5     196

IMPORTANDO .CSV COM TELEVOTING

In [769]:
df_tele = pd.read_csv('D:\\IRONHACK\\Eurovisión\\CSV_PRONTOS\\votos_tele.csv', index_col = [0])

In [770]:
df_tele.head()

   year  to_country  t_points
0  2016     Armenia       134
1  2016   Australia       191
2  2016     Austria       120
3  2016  Azerbaijan        73
4  2016     Belgium        51

In [771]:
df_tele.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104 entries, 0 to 103
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        104 non-null    int64
 1   to_country  104 non-null    object
 2   t_points    104 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.2+ KB

In [772]:
df_merged = pd.merge(df, df_tele, how='left', left_on=['years', 'country'], right_on=['year', 'to_country'])

In [773]:
df_merged.drop(['year', 'to_country'], axis=1, inplace=True)

In [774]:
df_merged['t_points'].fillna(0, inplace=True)

In [775]:
df_merged.head()

,country,years,songs,artists,places,points,t_points
0,Australia,2019,Zero Gravity,Kate Miller-Heidke,9,284,128.0
1,Australia,2018,We Got Love,Jessica Mauboy,20,99,9.0
2,Australia,2017,Don't Come Easy,Isaiah,9,173,2.0
3,Australia,2016,Sound of Silence,Dami Im,2,511,191.0
4,Australia,2015,Tonight Again,Guy Sebastian,5,196,0.0

In [776]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024 entries, 0 to 1023
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   1024 non-null   object
 1   years     1024 non-null   int64
 2   songs     1024 non-null   object
 3   artists   1024 non-null   object
 4   places    1024 non-null   int32
 5   points    1024 non-null   int32
 6   t_points  1024 non-null   float64
dtypes: float64(1), int32(2), int64(1), object(3)
memory usage: 56.0+ KB

In [777]:
df['points'] = df['points'].astype(int)

In [778]:
df_merged = df_merged.rename(columns={'t_points': 'televote'})

In [779]:
df_merged.head()

,country,years,songs,artists,places,points,televote
0,Australia,2019,Zero Gravity,Kate Miller-Heidke,9,284,128.0
1,Australia,2018,We Got Love,Jessica Mauboy,20,99,9.0
2,Australia,2017,Don't Come Easy,Isaiah,9,173,2.0
3,Australia,2016,Sound of Silence,Dami Im,2,511,191.0
4,Australia,2015,Tonight Again,Guy Sebastian,5,196,0.0

In [780]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024 entries, 0 to 1023
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   1024 non-null   object
 1   years     1024 non-null   int64
 2   songs     1024 non-null   object
 3   artists   1024 non-null   object
 4   places    1024 non-null   int32
 5   points    1024 non-null   int32
 6   televote  1024 non-null   float64
dtypes: float64(1), int32(2), int64(1), object(3)
memory usage: 56.0+ KB

In [781]:
df_merged['jury'] = df_merged['points'] - df_merged['televote']

In [782]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024 entries, 0 to 1023
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   1024 non-null   object
 1   years     1024 non-null   int64
 2   songs     1024 non-null   object
 3   artists   1024 non-null   object
 4   places    1024 non-null   int32
 5   points    1024 non-null   int32
 6   televote  1024 non-null   float64
 7   jury      1024 non-null   float64
dtypes: float64(2), int32(2), int64(1), object(3)
memory usage: 64.0+ KB

In [783]:
def assign_position(row):
    value = row['places']
    year = row['years']
    if value == 1:
        return '1st place'
    elif value == 2:
        return '2nd place'
    elif value == 3:
        return '3rd place'
    else:
        ultimo = df_merged[df_merged['years'] == year]['places'].max()
        if value == ultimo:
            return 'Último'
        else:
            return 'Who cares'

df_merged['position'] = df_merged.apply(assign_position, axis=1)

In [784]:
df_merged.tail()

,country,years,songs,artists,places,points,televote,jury,position
1019,Ukraine,2007,Dancing Lasha Tumbai,Verka Serduchka,2,235,0.0,235.0,2nd place
1020,Ukraine,2006,Show Me Your Love,Tina Karol,7,145,0.0,145.0,Who cares
1021,Ukraine,2005,Razom Nas Bahato,Greenjolly,19,30,0.0,30.0,Who cares
1022,Ukraine,2004,Wild Dances,Ruslana,1,280,0.0,280.0,1st place
1023,Ukraine,2003,Hasta La Vista,Olexandr,14,30,0.0,30.0,Who cares

In [785]:
df_merged['position'].value_counts()

Who cares    840
Último        50
2nd place     45
1st place     45
3rd place     44
Name: position, dtype: int64

In [786]:
df_merged.describe()

             years       places       points     televote         jury
count  1024.000000  1024.000000  1024.000000  1024.000000  1024.000000
mean   1998.512695    12.103516    81.012695     9.420898    71.591797
std      12.740121     6.856940    81.502969    41.130334    61.990046
min    1975.000000     1.000000     0.000000     0.000000     0.000000
25%    1988.000000     6.000000    26.750000     0.000000    25.000000
50%    1999.000000    12.000000    60.000000     0.000000    56.000000
75%    2010.000000    18.000000   108.250000     0.000000   100.000000
max    2019.000000    27.000000   758.000000   376.000000   387.000000

In [787]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024 entries, 0 to 1023
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   1024 non-null   object
 1   years     1024 non-null   int64
 2   songs     1024 non-null   object
 3   artists   1024 non-null   object
 4   places    1024 non-null   int32
 5   points    1024 non-null   int32
 6   televote  1024 non-null   float64
 7   jury      1024 non-null   float64
 8   position  1024 non-null   object
dtypes: float64(2), int32(2), int64(1), object(4)
memory usage: 72.0+ KB

In [789]:
df_merged['televote'] = df_merged['televote'].astype(int)

In [790]:
df_merged['jury'] = df_merged['jury'].astype(int)

In [791]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024 entries, 0 to 1023
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   1024 non-null   object
 1   years     1024 non-null   int64
 2   songs     1024 non-null   object
 3   artists   1024 non-null   object
 4   places    1024 non-null   int32
 5   points    1024 non-null   int32
 6   televote  1024 non-null   int32
 7   jury      1024 non-null   int32
 8   position  1024 non-null   object
dtypes: int32(4), int64(1), object(4)
memory usage: 64.0+ KB

In [792]:
df_merged.to_csv(r'D:\\IRONHACK\\Eurovisión\\CSV_PRONTOS\\posições_eurovision.csv')

In [793]:
filtro_bulgaria = df_merged['country'] == 'Bulgaria'

# aplicar el filtro al DataFrame
eurovision_bulgaria = df_merged[filtro_bulgaria]

# imprimir el resultado
print(eurovision_bulgaria)

      country  years                songs                            artists  \
106  Bulgaria   2018                Bones                            Equinox
107  Bulgaria   2017       Beautiful Mess                    Kristian Kostov
108  Bulgaria   2016  If Love Was a Crime                        Poli Genova
109  Bulgaria   2007                Water  Elitsa Todorova & Stoyan Yankulov

     places  points  televote  jury   position
106      14     166        66   100  Who cares
107       2     615       337   278  2nd place
108       4     307       180   127  Who cares
109       5     157         0   157  Who cares